<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>swp.g2.project@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>123456789SWP</param-value>
    </context-param>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Public/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Employee/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Employer/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>Home</servlet-name>
        <servlet-name>SuitableJob</servlet-name>
        <servlet-name>RemoteJob</servlet-name>
        <servlet-name>NearbyJob</servlet-name>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-name>Logout</servlet-name>
        <servlet-name>CreateCV</servlet-name>
        <servlet-name>ViewCV</servlet-name>
        <servlet-name>SearchJob</servlet-name>
        <servlet-name>JobDetail</servlet-name>
        <servlet-name>Notification</servlet-name>
        <servlet-name>PostJob</servlet-name>
        <servlet-name>ListPostJob</servlet-name>
        <servlet-name>SubmitCV</servlet-name>
        <servlet-name>Wishlist</servlet-name>
        <servlet-name>ListCV</servlet-name>
        <servlet-name>ApproveCV</servlet-name>
        <servlet-name>EditProfile</servlet-name>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-name>EditCV</servlet-name>
        <servlet-name>AccountManagement</servlet-name>
        <servlet-name>AccountProfile</servlet-name>
        <servlet-name>ListBanner</servlet-name>
        <servlet-name>ApproveBanner</servlet-name>
        <servlet-name>ListWishlist</servlet-name>
        <servlet-name>DeleteJob</servlet-name>
        <servlet-name>AccountDelete</servlet-name>
        <servlet-name>AuthorizePayment</servlet-name>
        <servlet-name>ExecutePayment</servlet-name>
        <servlet-name>ReviewPayment</servlet-name>
        <servlet-name>AddMoney</servlet-name>
        <servlet-name>ViewWallet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Public.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Public.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.Public.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Public.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoteJob</servlet-name>
        <servlet-class>controller.Public.RemoteJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>controller.Public.ViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Public.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCV</servlet-name>
        <servlet-class>controller.Employee.CreateCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCV</servlet-name>
        <servlet-class>controller.Public.ViewCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchJob</servlet-name>
        <servlet-class>controller.Public.SearchJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDetail</servlet-name>
        <servlet-class>controller.Public.JobDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>controller.Public.Notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostJob</servlet-name>
        <servlet-class>controller.Employer.PostJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPostJob</servlet-name>
        <servlet-class>controller.Employer.JobPosted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWallet</servlet-name>
        <servlet-class>controller.Employer.ViewWallet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCV</servlet-name>
        <servlet-class>controller.Employee.SubmitCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Wishlist</servlet-name>
        <servlet-class>controller.Employee.AddWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCV</servlet-name>
        <servlet-class>controller.Employer.ListCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveCV</servlet-name>
        <servlet-class>controller.Employer.ApproveCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>controller.Public.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.Public.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCV</servlet-name>
        <servlet-class>controller.Employee.EditCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagement</servlet-name>
        <servlet-class>controller.Admin.AccountManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountProfile</servlet-name>
        <servlet-class>controller.Admin.AccountProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBanner</servlet-name>
        <servlet-class>controller.Admin.ListBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveBanner</servlet-name>
        <servlet-class>controller.Admin.ApproveBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListWishlist</servlet-name>
        <servlet-class>controller.Employee.ListWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteJob</servlet-name>
        <servlet-class>controller.Employer.DeleteJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDelete</servlet-name>
        <servlet-class>controller.Admin.AccountDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizePayment</servlet-name>
        <servlet-class>controller.Employer.AuthorizePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePayment</servlet-name>
        <servlet-class>controller.Employer.ExecutePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPayment</servlet-name>
        <servlet-class>controller.Employer.ReviewPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMoney</servlet-name>
        <servlet-class>controller.Employer.AddMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CvUser</servlet-name>
        <servlet-class>controller.Employee.CvUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseCV</servlet-name>
        <servlet-class>controller.Employee.ChooseCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitBanner</servlet-name>
        <servlet-class>controller.Employer.SubmitBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BannerDetail</servlet-name>
        <servlet-class>controller.Admin.BannerDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FulltimeJob</servlet-name>
        <servlet-class>controller.Public.FulltimeJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParttimeJob</servlet-name>
        <servlet-class>controller.Public.ParttimeJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forget_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoteJob</servlet-name>
        <url-pattern>/remote_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/view_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/log_out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCV</servlet-name>
        <url-pattern>/create_cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCV</servlet-name>
        <url-pattern>/view_cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchJob</servlet-name>
        <url-pattern>/search_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetail</servlet-name>
        <url-pattern>/job_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostJob</servlet-name>
        <url-pattern>/post_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPostJob</servlet-name>
        <url-pattern>/job_posted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWallet</servlet-name>
        <url-pattern>/view_wallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitCV</servlet-name>
        <url-pattern>/submit_cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Wishlist</servlet-name>
        <url-pattern>/add_wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCV</servlet-name>
        <url-pattern>/list_cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveCV</servlet-name>
        <url-pattern>/approve_cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/edit_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCV</servlet-name>
        <url-pattern>/edit_cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagement</servlet-name>
        <url-pattern>/account_management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountProfile</servlet-name>
        <url-pattern>/account_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBanner</servlet-name>
        <url-pattern>/list_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveBanner</servlet-name>
        <url-pattern>/approve_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListWishlist</servlet-name>
        <url-pattern>/list_wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteJob</servlet-name>
        <url-pattern>/delete_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDelete</servlet-name>
        <url-pattern>/account_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizePayment</servlet-name>
        <url-pattern>/authorize_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePayment</servlet-name>
        <url-pattern>/execute_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPayment</servlet-name>
        <url-pattern>/review_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMoney</servlet-name>
        <url-pattern>/add_money</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CvUser</servlet-name>
        <url-pattern>/cv_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseCV</servlet-name>
        <url-pattern>/choose_cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitBanner</servlet-name>
        <url-pattern>/submit_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BannerDetail</servlet-name>
        <url-pattern>/banner_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FulltimeJob</servlet-name>
        <url-pattern>/fulltime_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParttimeJob</servlet-name>
        <url-pattern>/parttime_job</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login
        </welcome-file>
    </welcome-file-list>
</web-app>
